{% include header.html %}

    {% include home-hero.html %}

    <!-- <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">


            <div class="break"></div>

            {% for post in paginator.posts %}
              <div class="wow fadeIn">
              {% if post.position == "left" %}
                {% include content-left.html %}
              {% endif %}

              {% if post.position == "right" %}
                {% include content-right.html %}
              {% endif %}
              </div>
            {% endfor %}

            {% include pagination.html %}

          </div>
        </div>
      </div>
    </main> -->

    <article>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <!-- {{ content }} -->
            <p>Note: Expecting to add flowchart / more appealing graphic here to diagram experience - didn&#39;t have time for this website revision</p>
            <h1 id="education">Education</h1>
            <ul>
            <li><h3 id="cornell-university">Cornell University</h3>
            Bachelor of Science in Electrical and Computer Engineering - Fall 2018 - Present
            Master of Engineering in Electrical and Computer Engineering - Expected Fall 2022</li>
            </ul>
            <h1 id="experience">Experience</h1>
            <p>Note: Add photos</p>
            <ul>
            <li><h3 id="2022">2022</h3>
            <p>CPU Hardware Intern - Arm Ltd.</p>
            </li>
            <li><h3 id="2021">2021</h3>
            <p>Firmware Verification Intern - Viasat Inc.</p>
            </li>
            <li><h3 id="2020">2020</h3>
            <p>Electrical Engineering Intern - New Ascent Inc.</p>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </article>

{% include footer.html %}
