{% include header.html %}

    {% include home-hero.html %}

    <!-- <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">


            <div class="break"></div>

            {% for post in paginator.posts %}
              <div class="wow fadeIn">
              {% if post.position == "left" %}
                {% include content-left.html %}
              {% endif %}

              {% if post.position == "right" %}
                {% include content-right.html %}
              {% endif %}
              </div>
            {% endfor %}

            {% include pagination.html %}

          </div>
        </div>
      </div>
    </main> -->

    <article>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <!-- {{ content }} -->
            <p>Note: Expecting to add flowchart / more appealing graphic here to diagram experience - didn&#39;t have time for this website revision</p>
            <h1 id="education">Education</h1>
            <ul>
            <li><h3 id="cornell-university">Cornell University</h3>
            Bachelor of Science in Electrical and Computer Engineering - Fall 2018 - Present
            Master of Engineering in Electrical and Computer Engineering - Expected Fall 2022</li>
            </ul>
            <h1 id="experience">Experience</h1>
            <p>Note: Add photos</p>
            <ul>
            <li><h3 id="2022">2022</h3>
            <p>CPU Hardware Intern - Arm Ltd.</p>
            </li>
            <li><h3 id="2021">2021</h3>
            <p>Firmware Verification Intern - Viasat Inc.</p>
            </li>
            <li><h3 id="2020">2020</h3>
            <p>Electrical Engineering Intern - New Ascent Inc.</p>
            </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="timeline-content">
        <h1>Timeline</h1>
      
        <ul class="timeline">
          <li class="event" data-date="65Million B.C.">
            <h3>Dinosaurs Roamed the Earth</h3>
            <p>RAWWWWWWRRR 🐢🦂</p>
          </li>
          <li class="event" data-date="2005">
            <h3>Creative Component Launched</h3>
            <p>"We can be all things to all people!" 📣</p>    
          </li>
          <li class="event" id="date" data-date="2009">
            <h3>Squareflair was Born</h3>
            <p></p> <p>"We can be all things to Squarespace users!" 📣</p>    
          </li>
          
          <li class="event" data-date="2021">
            
            <h3>Squareflair Today</h3>
            
            <p>"We design and build from scratch!" 📣<p/> <p>When we say <em><strong>100% custom</strong></em> we mean it— and we build all sites on the Squarespace Developer platform.<p/>
      <p>Did you know that all of our pixels are hand-forged from the rarest of subpixels grown and harvested in the <em>Nerd Forest</em>? <br>🤜💥🤛</p>
            
            <p><strong>Our success can be measured by lives and brands enhanced by 9+ years of 100% Squarespace-focused service!</strong></p>
            
      <p><a href="https://www.squareflair.com">squareflair.com</a></p>
          </li>
        </ul>
      </div>
    </article>

{% include footer.html %}
