{% include header.html %}

    {% include home-hero.html %}

    <!-- <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">


            <div class="break"></div>

            {% for post in paginator.posts %}
              <div class="wow fadeIn">
              {% if post.position == "left" %}
                {% include content-left.html %}
              {% endif %}

              {% if post.position == "right" %}
                {% include content-right.html %}
              {% endif %}
              </div>
            {% endfor %}

            {% include pagination.html %}

          </div>
        </div>
      </div>
    </main> -->

    <article>
      <div class="two-col">
        <div class="col1">
          <div id="timeline-content">
            <h1>Work Experience</h1>
          
            <ul class="timeline">
              <li class="event" data-date="2022">
                <h3>CPU Hardware Intern</h3>
                <p>Arm Ltd.</p>
              </li>
              <li class="event" data-date="2021">
                <h3>Firmware Verification Intern</h3>
                <p>Viasat Inc.</p>    
              </li>
              <li class="event" id="date" data-date="2020">
                <h3>Electrical Engineering Intern</h3>
                <p></p> <p>New Ascent Inc.</p>    
              </li>
            </ul>
          </div>
        </div>

        <div class="col2">
          <div id="timeline-content">
            <h1>Campus Involvement</h1>
          
            <ul class="timeline">

              <li class="event" data-date="2019-2021">
                <h3>Teaching Assistant</h3>
                <p>Intro to Computing Using Python</p>    
              </li>
              <li class="event" id="date" data-date="2018-2021">
                <h3>Electrical Team Lead</h3>
                <p></p> <p>Cornell Cup Robotics</p>    
              </li>
              <li class="event" data-date="2018-2021">
                <h3>Selections Committee</h3>
                <p>Cornell Program Board</p>
              </li>
            </ul>
          </div>
        </div>
      </div>



    </article>

{% include footer.html %}
